*.php.orig
/bootstrap/compiled.php
/vendor
composer.phar
.DS_Store
Thumbs.db
.env.local.php
.env.testing.php
.env.php
.idea
/.idea
/storage/images
selenium.bat
/puphpet
.vagrant
Vagrantfile



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
behat.yml
selenium-server-standalone-2.43.1.jar
selenium-server-standalone-2.44.0.jar
